{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-jsdoc"],
  "tsdoc": true,
  "jsdocCapitalizeDescription": true,
  "jsdocDescriptionWithDot": true,
  "jsdocSeparateTagGroups": true,
  "jsdocSeparateReturnsFromParam": true,
  "jsdocPrintWidth": 80
}
